.iconButton {
  transition: all 0.2s !important;
}

.iconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.todoCard {
  transition: all 0.2s !important;
}

.todoCard:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

.addButton {

  font-weight: bolder;
  background-color: #b9f6ca;
  color: #1a237e;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: background-color 0.3s, color 0.3s;
}

.addButton:disabled {
  background-color: rgb(181, 177, 177) !important;  /* Shows red when disabled */
  color: #222 !important;                /* Make sure text is visible */
  cursor: not-allowed;
  opacity: 1 !important;                 /* Override MUI default opacity */
}


